{
"FIEBASE_API_KEY": "",
"FIEBASE_AUTH_DOMAIN": "",
"FIEBASE_DB_URL": "",
"FIEBASE_PRJ_ID": "",
"FIEBASE_STORAGE": """,
"FIEBASE_MESSAGE_SEND_ID": "",
"FIEBASE_APP_ID": "",
"FIEBASE_MEASURE_ID": ""
}
